/* 

.clases {
    
}

#id {

} 

*/

body {
    background: skyblue;
}

.container {
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 600px;
    background: white;
}

.titulo {
    color: skyblue;
}

.usuario, .contraseña {
    margin: 5px;
    border-radius: 3px;
    background: #e6e6e6;
    padding: 15px;
    border: none;
}

.boton-login {
    background: dodgerblue;
    color: white;
}

.hide {
    display:none;
}

