@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


html,
body {
 padding: 0;
 margin: 0;
 font-family: Roboto, sans-serif;
 font-size: 25px;   

}

.container {
    max-width: 1536px;
    width: 100%;
    background: red;
    padding: 20px 0 ;
}

#idContainer {
    /* asi se hace referencia a un ID */
}

.list-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: flex-end;
    column-gap: 30px;
    list-style:none;
}


#list-items a {
    font-size: 1rem;
    color:white;
    text-decoration: none;
}

#logo {
    position: absolute;
    left: 0;
    top: -15px;
}


.imageContainer {
    min-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.mybutton {
    display: none;
}

@media screen and (max-width: 600px) {
    .list-texto {
        display: none;
    }

    .mybutton {
        padding: 1rem;
        background: red;
        display: block;
    }
}


@media screen and (max-width: 901px) {
    .list-texto {
        display: none;
    }

    .mybutton {
        padding: 1rem;
        background: yellow;
        display: block;
    }
}


/* COMIENZAN LOS ESTILOS DEL CATALOGO DE PRODUCTOS */
.catalogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.container-products {
    max-width: max-content;
    background-color: lightgray;
}

.product-title {
    font-size: 1.33rem;
    font-weight: 800;
    text-align: center;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.color {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.colorContainer {
    display: flex;
}

/* FIN DE LOS ESTILOS DEL CATALOGO DE PRODUCTOS */