* {
    margin: 0;
    padding: 0;
}

.contenedorDeSesion {
    background: white;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.contenedorPrincipal {
    width: 400px;
    height: 400px;
    background: black;
    border-radius: 10px;
}

.contenedorFormulario {
    padding: 20px;
}

.formularioLogo {
    display: flex;
    justify-content: center;
}
img {
    max-width: 100px;

}

input.usuario {
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

input.contraseña {
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.formularioDatos {
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.enviarDatos {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: orange;
    margin-top: 20px;
    cursor: pointer;
}

.recuperarContraseña {
    margin-top: 20px;
    text-align: center;
    color: white;
}